<style>
  .main-calculator-container {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
}

.main-calculator-container .container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
}

.main-calculator-container h1 {
  text-align: center;
  color: #0B776A;
  padding-bottom: 15px;
}

/* Form Group: Row and Column Flex Configurations */
.main-calculator-container .form-group-row,
.main-calculator-container .form-group-col {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-calculator-container .form-group-row {
  flex-direction: row;
}

.main-calculator-container .form-group-col {
  flex-direction: column;
}

.main-calculator-container .input-field {
  flex: 1 1 calc(50% - 20px);
}

.main-calculator-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.main-calculator-container input[type="number"],
.main-calculator-container select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.main-calculator-container input[type="number"]:focus,
.main-calculator-container select:focus {
  border-color: #28a745;
  background-color: #fff;
  outline: none;
}

/* Button Styles */
.main-calculator-container .bt-ro {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.main-calculator-container .btn-tools-primary,
.main-calculator-container .btn-tools-clear {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  width: 45%;
  margin: 0 5px;
}

.main-calculator-container .btn-tools-primary {
  background-color: #008060;
  color: white;
  border: none;
}

.main-calculator-container .btn-tools-primary:hover {
  background-color: #005A40;
}

.main-calculator-container .btn-tools-clear {
  background-color: #FFFFFF;
  color: #008060;
  border: 1px solid #008060;
}

.main-calculator-container .btn-tools-clear:hover {
  background-color: #008060;
  color: #fff;
}

/* Result Box */
.main-calculator-container .result {
  margin-top: 20px;
  font-size: 18px;
  background-color: #e9f7ef;
  padding: 15px;
  border-radius: 5px;
  color: #155724;
}

/* Responsive Adjustments */
@media screen and (max-width: 900px) {
  .main-calculator-container h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .main-calculator-container .form-group-row,
  .main-calculator-container .form-group-col {
    gap: 10px;
  }
  
  .main-calculator-container .btn-tools-primary {
    width: 100%;
    margin-bottom: 10px;
  }

  .dynamic-imageSrc {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .dynamic-heading {
    font-size: 18px;
  }

  .dynamic-card {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .main-calculator-container {
    padding: 0;
  }

  .main-calculator-container .form-group-row,
  .main-calculator-container .form-group-col {
    flex-direction: column;
  }

  .main-calculator-container .input-field {
    flex: 1 1 100%;
    width: 100%;
  }
}
</style>
